<div class="memorylist-master-container-body">
  <div class="container memorylist-master-container" style="margin-top: 30px margin-bottom: 50px">
    <div class="composition-builder-container" style="justify-content: center;">
      <div class="row align-items-center justify-content-center" style="padding: 30px;">
          <h1>Memory List Maker</h1>
      </div>
      <div class="row align-items-center justify-content-center">
        <%# <h2>1. Drag and Drop Flashcards into Your Memory List:</h2> %>
        <%= render 'components/flashcard-drag-drop', memory_list: @memory_list %>
      </div>

      <div class="row align-items-center justify-content-center">
        <%# <h2>2. Write a Name for Your Memory List:</h2> %>
        <div>
          <div class="name-your-memory-list" style="text-align: center;">
            <%= simple_form_for @memory_list, html: { class: "memory-list-form"}  do |f| %>
              <%= f.input :name, label: "New Memory List Name:" %>
              <div class="error-messages text-center"></div>
              <%# Incase you want to have pop-up %>
              <%#= f.submit 'Create New Memory List', data: { confirm: 'Do You Want to Save Your New List?' }, class: "submit-memory-list btn btn-primary"  %>
              <%= f.submit 'Create New Memory List', class: "submit-memory-list btn btn-primary"  %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
          <p><%= link_to 'Return to Profile Without Saving', profile_path, class: 'btn btn-primary' %></p>
      </div>
    </div>
  </div>
</div>
