<div class="banner">
  <div>
    <h1><strong><%= @memory_list.name %></strong></h1>
  </div>
  <div>
    <img class="profile-image" src="https://picsum.photos/200" alt="Place-holder-images">
    <p class="link-button m-3"><%= link_to 'Edit List Name', edit_memory_list_path, class: 'btn btn-secondary' %></p>
  </div>
  <div>
    <p><strong>List creator: </strong><%= @memory_list.user.username %></p>
  </div>
</div>

<div class="container">
  <%# shows all the flashcards in the memory list %>
  <div class="row">
      <div class="col-6">
        <h2 style="bold text-align-center">Memory List Flashcards</h2>
        <div class="flashcard-cards-holder flex-d justify-content-center " id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
            <% if @memory_list.flashcards.present? %>
                <% @memory_list.flashcards.each do |flashcard| %>
                  <div class="card-flashcard" style="max-width: 18rem;" draggable="true" ondragstart="drag(event)" id="drag<%=flashcard.id%>">
                    <div class="card-front">
                      <ul>
                        <li class="list-group-item"><%= flashcard.english_word %></li>
                        <li><strong>Category: </strong> <%= flashcard.category %></li>
                      </ul >
                    </div>
                    <div class="card-back">
                      <ul>
                        <li class="list-group-item"><%= flashcard.japanese_word %></li>
                        <li><strong>Category: </strong> <%= flashcard.category %></li>
                      </ul >
                    </div>
                  </div>
                <% end %>
            <%end%>
        </div>
      </div>

      <div class="col-6">
          <h2>All Flashcards</h2>
          <div class="flashcard-cards-holder flex-d justify-content-center " id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">
                <% @flashcards.each do |flashcard| %>
                <%# review this line and AR %>
                  <% if !(@memory_list.flashcards.include? flashcard)%>
                  <div class="card-flashcard" style="max-width: 18rem;" draggable="true" ondragstart="drag(event)" id="drag<%=flashcard.id%>">
                    <div class="card-front">
                      <ul>
                        <li class="list-group-item"><%= flashcard.english_word %></li>
                        <li><strong>Category: </strong> <%= flashcard.category %></li>
                      </ul >
                    </div>
                    <div class="card-back">
                      <ul>
                        <li class="list-group-item"><%= flashcard.japanese_word %></li>
                        <li><strong>Category: </strong> <%= flashcard.category %></li>
                      </ul >
                    </div>
                    <!--<%= render 'components/flashcard-add-form'  %>-->
                  </div>
                <% end %>
            <% end %>
          </div>
      </div>
  </div>

  <div class="row">
    <p class="link-button m-3"><%= link_to "Delete #{@memory_list.name} Memory List",
            memory_list_path(@memory_list),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: 'btn btn-secondary' %></p>
    <p class="link-button m-3"><%= link_to 'Back to Memory List Index', memory_lists_path, class: 'btn btn-secondary' %></p>
  </div>
</div>
<%# <p class="link-button m-3"><%= link_to 'Add Flashcards to Memory List', memory_list_flashcards_path(@memory_list), class: 'btn btn-secondary' %>
