<div class="banner">
  <div class="container">
    <h1><strong><%= @memory_list.name %></strong></h1>
    <img class="profile-image" src="https://picsum.photos/200" alt="Place-holder-images">
    <p class="link-button m-3"><%= link_to 'Edit List Name', edit_memory_list_path, class: 'btn btn-secondary' %></p>
    <p><em>List creator: </em><%= @memory_list.user.username %></p>
  </div>
</div>

<div class="memory-list-cards-holder flex-d justify-content-center ">
    <%# <p class="link-button m-3"><%= link_to 'Add Flashcards to Memory List', memory_list_flashcards_path(@memory_list), class: 'btn btn-secondary' %>
    <div class="memory-list-card ml-5">
        <% if @memory_list.flashcards.present? %>
          <h2>Memory List Flashcards</h2>
            <div class="row">
              <% @memory_list.flashcards.each do |flashcard| %>
                <div class="card-flashcard" style="max-width: 18rem;">
                  <p class="list-group-item"><%= flashcard.english_word %> = <%= flashcard.japanese_word %></p>
                </div>
              <% end %>
            </div>
        <%end%>
    </div>

    <div class="row">
      <p class="link-button m-3"><%= link_to "Delete #{@memory_list.name} Memory List",
              memory_list_path(@memory_list),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: 'btn btn-secondary' %></p>
      <p class="link-button m-3"><%= link_to 'Back to Memory List Index', memory_lists_path, class: 'btn btn-secondary' %></p>
    </div>
</div>
