<h1>Composition Builder</h1>

  <h3>Name your memorylist</h3>
  <%= simple_form_for(@memory_list) do |f| %>
    <%= f.input :name, label: "Memorylist Name" %>
    <%= f.submit class: "btn btn-primary" %>
    <%= render 'components/memory-lists-index' %>
  <% end %>

<h3>Make your flashcards</h3>
<%= simple_form_for(@flashcard) do |f| %>
  <%= f.input :english_word %>
  <%= f.input :japanese_word %>
  <%= f.input :category %>
  <%# <%= f.association :memory_list_flashcards %>
  <%= f.association :memory_lists, label: "Choose a memory list to store your flashcard"  %>
  <%= f.submit 'Create a flashcard', class: "btn btn-primary" %>
<% end %>
