
<div>
  <div class="name-your-memory-list" style="text-align: center;">
    <%= simple_form_for @memory_list, html: { class: "memory-list-form"}  do |f| %>
      <%= f.input :name, label: "New Memory List Name:" %>
      <%= f.submit 'Create New Memory List', data: { confirm: 'Do You Want to Save Your New List?' }, class: "submit-memory-list btn btn-primary"  %>
    <% end %>
  </div>
</div>

<!--<%= simple_form_for(@memory_list) do |f| %>
    <%= f.input :name, label: "Write a Name for your Memory List:" %>
    <%= f.submit "Create memory list", class: "btn btn-primary" %>-->

    <!--<h4>Available memory lists</h4>
    <p>Newly added memory lists will appear here.</p>
      <div class="memory-list-scroll">
      <%= render 'components/memory-lists-index' %>
      </div>-->
  <% end %>

<%
=begin %>
<div class="add-flashcards">
  <h3>2. Add flashcards to your memory list</h3>
  <%= simple_form_for(@flashcard) do |f| %>
    <%= f.input :english_word %>
    <%= f.input :japanese_word %>
    <%= f.input :category %>
    <%# <%= f.association :memory_list_flashcards %>
    <%= f.association :memory_lists, label: "Choose a memory list to store your flashcard"  %>
    <p>You can repeat the process to add more flashcards!</p>
    <%= f.submit 'Create a flashcard', class: "btn btn-primary" %>
  <% end %>
</div>


<div class="combine-your-memorylist">
  <h3>3. Combine your memory list with an instrumental</h3>
  <%= simple_form_for(@composition) do |f| %>
    <%= f.input :name %>
    <%= f.association :memory_list %>
    <%= f.association :instrumental %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
<%
=end %>
