<%
=begin %>
<%= simple_form_for(@composition) do |f| %>
  <%= f.input :name, label: "Composition name" %>
  <%# id="composition_memory_list_id" %>
  <%= f.input :memory_list_id, as: :select, collection: @memory_lists, prompt: "Select a memory list" %>
  <%# id="composition_instrumental_id" %>
  <%= f.input :instrumental_id,as: :select, collection: @instrumentals %>
  <div id="#"><%= f.submit class: "btn btn-primary" %></div>
<% end %>

<% 
=end %>

<div>
  <%= simple_form_for(@composition) do |f| %>
    <%= f.input :name, label: "Composition name", placeholder: "Name" %>
    <%= f.association :memory_list, collection: @memory_lists, prompt: 'Select a Memory list' %>
    <%= f.association :instrumental, prompt: 'Select a Instrumental', :label_method => lambda { |instrumental| "#{underscore_remover(instrumental.title)} - #{instrumental.artist&.length < 15 ? instrumental.artist : instrumental.artist[..15]}.." }  %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
