<div class="col-6">
    <div class="memory-list-card">
         <%= link_to memory_list_path(memory_list), class: "memory-list-link" do %>
        <strong><%= memory_list.name %></strong>
      <% end %>
      <div class="flashcard-collection">
      <% memory_list.flashcards.each_with_index do |flashcard, index| %>
        <div class="flashcard-box" style="animation-delay: calc( -1 * (( 36s / <%= memory_list.flashcards.count %> ) * (<%= index + 1 %> )));">
          <div class="flashcard-box-inner">
            <div class="flashcard-inner-front">
              <%= underscore_remover(flashcard.english_word)  %>
            </div>
            <div class="flashcard-inner-back">
              <%= underscore_remover(flashcard.japanese_word) %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
</div>
