<div class="banner">
  <div>
    <h1>Index Page for Flashcards</h1>
  </div>
</div>

<div class="container" style="padding-top:30px;">
  <div class="row">
    <div class="col-12">
      <% if @flashcards.present? %>
        <h2 style="text-align:center;">All Flashcards</h2>
            <div class="flashcard-cards-holder flex-d justify-content-center ">
                <% @flashcards.each do |flashcard| %>
                  <div class="row">
                    <div class="card-flashcard" style="max-width: 18rem;">
                      <div class="flip-card-inner">
                        <div class="card-front">
                          <ul>
                            <li class="list-group-item"><%= flashcard.english_word %></li>
                            <li><strong>Category: </strong> <%= flashcard.category %></li>
                          </ul >
                        </div>
                        <div class="card-back">
                          <ul>
                            <li class="list-group-item"><%= flashcard.japanese_word %></li>
                            <li><strong>Category: </strong> <%= flashcard.category %></li>
                          </ul >
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div>
      <% end %>
    </div>
  </div>
</div>
<p class="link-button" style="text-align:center;"><%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %></p>
