
<%= link_to "Back to My Compositions", compositions_path, class: 'btn btn-secondary' %>

<div class="master-box-memory-list">
    <div class="form-container">
      <div class="w-150 mx-auto shadow p-5 py-5 my-5 bg-body rounded">
        <h2>Choose or create memory list</h2>
        <div class="container">
          <div class="form-container">
            <div class="w-150 mx-auto shadow p-5 py-5 my-5 bg-body rounded">
              <h2>Create a new Memory List </h2>
              <%= render 'components/memory-list-form'  %>
            </div>
          </div>
        </div>
          <%= render 'components/memory-lists-index' %>
      </div>
    </div>

  <div class="instrumentals-container">
    <div class="container">
      <div class="form-container">
        <div class="w-150 mx-auto shadow p-5 py-5 my-5 bg-body rounded">
          <h2>Available Instrumentals</h2>
          <%= render 'components/instrumentals-index' %>
        </div>
      </div>
    </div>
  </div>

   <div class="create-container">
      <div class="container">
        <div class="form-container">
          <div class="w-150 mx-auto shadow p-5 py-5 my-5 bg-body rounded">
            <h2>Create a composition</h2>
            <%= render 'components/compositions-form', composition: @composition %>
          </div>
        </div>
      </div>
    </div>

</div>
