<div class="container pt-5">
  <div class="composition-show-box">
    <div class="composition-show-info">
      <div class="composition-card-info">
        <div class="png-playlist-count">
          <%= image_tag 'playlist.png', width: "100px",alt: "playlist icon"%>
        </div>
        <div>
          <p>composition: <%= @composition.name %></p>
          <p>instrumental: <%= underscore_remover(@composition.instrumental.title) %></p>
          <p><strong>Memorylist:</strong> <%= @composition.memory_list.name %></p>

        </div>
      </div>
      <div class="composition-subtitle">
        <ul class="composition-subtitle-list">

        <% @composition.memory_list.flashcards.each do |flashcard| %>

          <li class="" id="<%="#{flashcard.english_word}-#{flashcard.id}"%>"><%= underscore_remover(flashcard.english_word) %></li>
          <li class="" id="<%="#{flashcard.japanese_word}-#{flashcard.id}"%>"><%= underscore_remover(flashcard.japanese_word) %></li>

        <% end %>

        </ul>
      </div>
    </div>
    <div class="composition-show-joystick">
      <div class="audio-controllers">
        <div class="play-pause-stop">
          <button class="stop-player mr-3"><i class="fa fa-stop" aria-hidden="true"></i></button>
          <button class='player mx-3' data-status="paused"><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>

        <div class="range-slider" data-controller="range-slider">
          <label for="customRange"><i class="fa fa-volume-up" aria-hidden="true"></i></label>
          <%# hello %>
          <input type="range"
                name="customRange"
                class="range-slider__range inline"
                data-range-slider-target="range"
                data-action="input->range-slider#updateValue"
                value="0.5"
                min="0"
                max="1"
                step="0.00000001">
          <%# <output class="range-slider__value"
                  data-range-slider-target= "play"></output> %>
        </div>

      </div>
      <div class="loop-box">
        <span>loop </span>

        <label class="switch">
          <input type="checkbox" id="loop-checker">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="rep-counter">
        <p>reps</p>
        <strong>
          <div id = "rep-count-id"><%= @composition.rep_count %></div>
        </strong>
      </div>
    </div>
  </div>
  <div class="mx-auto mt-3" style="text-align:center;">
    <%= link_to "Karaoke", composition_karaoke_path(@composition), class: 'btn btn-sm btn-primary' %>
    <%= link_to "Edit composition", edit_composition_path(@composition), class: 'btn  btn-sm btn-warning' %>
    <%= link_to "Delete composition", composition_path(@composition), method: :delete, class: 'btn  btn-sm btn-danger' %>
    <%= link_to "Back to My Compositions", compositions_path, class: 'btn  btn-sm btn-secondary' %>
  </div>
  <div class="audio-mother-box">
    <audio>
      <source src="<%= asset_path("instrumentals/#{@composition.instrumental.title}.mp3") %>" type="audio/mpeg">
      <% @composition.memory_list.flashcards.each do |flashcard| %>
        <source id="<%="#{flashcard.english_word}-#{flashcard.id}"%>" src="<%= asset_path("flashcard_greetings/#{flashcard.english_word}.wav") %>" type="audio/mpeg">
        <source id="<%="#{flashcard.japanese_word}-#{flashcard.id}"%>" src="<%= asset_path("flashcard_greetings/#{flashcard.japanese_word}.wav") %>" type="audio/mpeg">
      <% end %>
    </audio>
  </div>
</div>
