<div class="profile-wrapper">
  <div class="container">
    <div class="row">
      <div class="info col-md-3">
        <div class="user-info">
            <img src="https://i.pravatar.cc/150?img=68?u=a042581f4e29026704d" class="avatar-md" alt="Free unsplash image">
          <h4>Hi <strong><%= current_user.username %></strong>!</h4>
          <h4> Welcome back. </h4>
          <p class="text-secondary"><em><%= current_user.email %></em></p>
          <p class="text-secondary"><strong class="mr-2">Avg score</strong><em><%=current_user.avg_scores %></em></p>
        </div>
      </div>

       <div class="col-6">
         <div class="graph"></div>
       </div>
       <div class="col-1">
         <div class="review-box">
         <h4>Review</h4>
         <div class="review-image">
          <%=image_tag("medal.svg") %>
          <p>Last created </p>
          <%=image_tag("mic.svg") %>
          <p>Least reps</p>
         </div>
         </div>
       </div>
       <div class="mascot">
       <%= image_tag("profile_character.svg") %>
       </div>
    </div>





  <div class="row">
    <div class="col-6">
      <div class="composition-container">
        <div class="mx-5 pt-5">
        <div class = "icon"> <%= link_to "Compose your Song", new_composition_path %></div>

        <div class = "profile-button">
        </div>
        </div>
        <div class="compositions-box">
          <TABLE style="width: 100%" CELLPADDING=”8px″>
            <TR>
              <TH>#</TH>
              <TH>Title</TH>
              <TH class="rep">Rep.</TH>
              <%# <TH>Duration</TH> %>
              <TH>Instrumental</TH>
            </TR>
              <% @compositions.each_with_index do |composition, index| %>
                <%= render 'components/composition-card', composition: composition, index: index %>
              <% end %>
          </TABLE>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="list-container">
        <div class="mx-5 pt-5">
          <div class = "icon">  <%= link_to "Personalize your list", new_memory_list_path%> </div>
            <%= link_to "Personalize your list", new_memory_list_path, class: 'btn btn-block btn-outline-primary' %>
        </div>
        <div class="row px-5 pt-5 justify-content-between">
        <% @memory_lists.each do |memory_list| %>
          <%= render 'components/memory-list-card', memory_list: memory_list %>
        <% end %>
        </div>
      </div>
    </div>
      <%# </div>
    </div> %>
    <%# </div> %>
  </div>

</div>

</div>
</div>
</div>
