<div class="profile-banner">
  <div class="user-info">
    <img src="https://i.pravatar.cc/150?img=68?u=a042581f4e29026704d" class="avatar-md" alt="Free unsplash image">
    <div>
      <h4><strong><%= current_user.username %></strong></h4>
      <p class="text-secondary"><em><%= current_user.email %></em></p>
      <p class="text-secondary"><strong class="mr-2">Avg score</strong><em><%=current_user.avg_scores %></em></p>
    </div>
  </div>
</div>

<div class="container pb-5">
  <%# nav for bootstrap tabs %>
  <nav>
    <div class="nav justify-content-between nav-tabs border-0 user-tabs" id="nav-tab" role="tablist">
      <a class="active" id="nav-compositions-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-compositions" aria-selected="true">My Compositions</a>
      <a class="" id="nav-playlists-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-playlists" aria-selected="false">My Playlists</a>
      <a class="" id="nav-memorylists-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-memorylists" aria-selected="false">My Memory Lists</a>
    </div>
  </nav>

  <%# content for bootstrap tabs %>
  <div class="tab-content shadow-lg my-5 bg-white rounded" style="min-height: 100vh;" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-compositions-tab">
      <div class="profile-tab-container">
        <div class="mx-5 pt-5">
          <%= link_to "Compose your Song", new_composition_path, class: 'btn btn-block btn-outline-primary' %>
        </div>
        <div class="compositions-box">
          <TABLE style="width: 100%" CELLPADDING=”8px″>
            <TR>
              <TH>#</TH>
              <TH>Title</TH>
              <TH class="rep">Rep.</TH>
              <TH>Duration</TH>
              <TH>Instrumental</TH>
            </TR>
              <% @compositions.each_with_index do |composition, index| %>
                <%= render 'components/composition-card', composition: composition, index: index %>
              <% end %>
            </TABLE>
          </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-playlists-tab">
      <div class="profile-tab-container">
        <div class="mx-5 pt-5">
          <%= link_to "Create your Playlist", new_playlist_path, class: 'btn btn-block btn-outline-primary' %>
        </div>
        <div class="row px-2 pt-5">
          <% @playlists.each do |playlist| %>
            <%# Playlist composition %>
            <%= render 'components/playlist-card', playlist: playlist %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-memorylists-tab">
      <div class="profile-tab-container">
        <div class="mx-5 pt-5">
          <%= link_to "Personalize your list", new_memory_list_path, class: 'btn btn-block btn-outline-primary' %>
        </div>
        <% @memory_lists.each do |memory_list| %>
          <div class="card-deck" style="width: 24rem;">
            <div class="container mt-4">
              <div class="col-sm mb-4">
                <% random_num = rand(10) %>
                <% image = "https://picsum.photos/500/300?random=r#{random_num}" %>

                <div class="card">
                  <img class="card-img-top" src="<%=image%>" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"><%=memory_list.name %></h5>
                    <%= link_to "Details", memory_list_path(memory_list), class: 'btn btn-secondary' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
