<div class="home-wrapper">
<header class="home-hero" role="banner">
<%= video_tag("waves3.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video")%>

<section class="hero-banner py-5">
    <div class="container">
        <div class="row row align-items-center">
          <div class="col-lg-5 offset-lg-1 order-lg-1">
              <div id= "banner-image"><%= image_tag("character2.svg") %></div>
            </div>
            <div class="banner-text justify-content-center col-lg-6">
            <h1 class= "d-block font-weight-bold">TwoByFour</h1>
                <p class="lead text-secondary my-5">Beats it into your brain! <br> Learn with the power of music with Two By Four</p>
                <% if user_signed_in? %>
                  <%= link_to "Start learning", new_composition_path, class: "btn btn-outline-light btn-lg border" %>
                <% else %>
                  <%= link_to "Start today", new_user_registration_path, class: "btn btn-outline-light btn-lg border"%>
                <% end %>
            </div>
        </div>
    </div>
</section>
</header>

<div class="details-container">
    <div class="h1 text-center">
      <h1> How it works</h1>
    </div>
  <div class="row h-100">

    <div class="col-sm-12 col-lg-3 my-auto text-center">
      <div class="home-card">
        <h4 class="number">1</h4>
        <h4>Select a word list </h4>
        <div class="home-image"><%= image_tag("character1.svg") %></div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3 my-auto text-center">
       <div class="home-card">
        <h4 class="number">2</h4>
         <h4>Select a beat</h4>
        <div class="home-image"><%= image_tag("character3.svg") %></div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3 my-auto text-center">
    <div class="home-card">
        <h4 class="number">3</h4>
         <h4>Create a song </h4>
         <div class="home-image"><%= image_tag("character5.svg") %></div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3 my-auto text-center">
     <div class="home-card">
        <h4 class="number">4</h4>
         <h4>Sing and enjoy!</h4>
         <div class="home-image"><%= image_tag("character4.svg") %></div>
      </div>
    </div>

    </div>
  </div>
</div>
